@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default font */
body {
  font-family: "Poppins", sans-serif;
}

/* Light Mode Colors */
@layer base {
  :root {
    --background: 245 100% 97%;
    --foreground: 240 6% 10%;
    --primary: 260 80% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34 78% 65%;
    --secondary-foreground: 0 0% 15%;
    --accent: 220 60% 55%;
    --accent-foreground: 0 0% 98%;
    --border: 230 15% 85%;
  }

  /* Dark Mode Colors */
  .dark {
    --background: 240 10% 16%;
    --foreground: 0 0% 98%;
    --primary: 260 90% 75%;
    --secondary: 34 78% 55%;
    --accent: 220 60% 65%;
    --border: 230 15% 35%;
  }
}

/* Apply background and text colors */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
